In [7]:
import pandas as pd
import sklearn
from sklearn import linear_model

df = pd.read_csv("homeprices copy.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [13]:
import math

median_bed = math.floor(df.bedrooms.median())
df.bedrooms = df.bedrooms.fillna(median_bed)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [21]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df[['price']])
reg.predict([[3000, 3, 20]])

/Users/spaceconsole/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[563042.60975297]])

In [23]:
reg.coef_
reg.intercept_

array([221323.0018654])

In [ ]:
y = m1*x + m2*x1 + m3*x2 + c

In [31]:
pip install word2number

Requirement already satisfied: word2number in /Users/spaceconsole/anaconda3/lib/python3.11/site-packages (1.1)
Note: you may need to restart the kernel to use updated packages.

In [152]:
df1 = pd.read_csv("hiring.csv")
df1.experience = df1.experience.fillna("zero")
df1.experience = df1.experience.apply(w2n.word_to_num)
df1

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [241]:
import math
median_test_score = float(math.floor(df1['test_score(out of 10)'].mean()))
df1['test_score(out of 10)'] = df1['test_score(out of 10)'].fillna(median_test_score)
df1

TypeError: 'int' object is not callable